# Projeto 2 - Ciencia de dados

## Introdução

* A empresa InsperAnalytics contratou dois engenheiros do Insper para prestar um serviço de exploração, análise e previsão de uma variável em uma base de dados referente ao consumo de alcool dos estudantes com base nas suas informações pessoais, informações academicas e as materias estudadas no colegio.

* O objetivo dos engenheiros é fazer uma analise exploratoria completa na base de dados e conseguir informações suficientes para poder gerar uma hipotese sobre a relação da variavel escolhida com as demais e com isso prever possiveis resultados com a hipotese gerada.

* A base de dados que foi dadas ao engenheiro contem variaveis quantitativas e qualititativas, ou seja variaveis numericas e variaveis de categorias/ rotulos. 

* Todo o trabalho usará o conhecimento que os engenheiros adquiriram na materia de Ciencia de Dados, e usará a linguagem de programação python como ferramenta para esse serviço.

* O metodo de previsão será a partir de classificadores, por conta da maioria das variaveis serem qualitativas.

## Informações sobre os engenheiros:

* **Engenheiro 1:** Fabricio Neri Lima
    * **Curso:** Engenharia da computação
    
* **Engenheiro 2:** Wilgner Lopes Araujo
    * **Curso:** Engenharia Mecatrônica

## Informações tecnicas:

* No github onde será postado o trabalho existem duas pastas:
    * **data:** Local onde será encontrado a base de dados em arquivos csv
    * **src:** Local onde será encontrado os arquivos jupyters com todo o trabalho desenvolvido
    
* A base de dados pode ser encontrada acessando o seguinte link:
    * https://www.kaggle.com/uciml/student-alcohol-consumption?select=student-por.csv
    
* Caso queira acompanhar o trabalho desenvolvido é necessario ter as seguintes bibliotecas python instaladas:
    * Pandas
    * Numpy
    * Matplotlib
    * Seaborn
    * Scipy.stats
    * Scikit-learn

* A Celula abaixo importará as bibliotecas citadas e mostrará a versão instalada em sua maquina, basta roda-la:

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats

# A biblioteca Scikit-learning será chamada no momento que for necessaria sua utilização

print('Versão do pandas -> %s' % pd.__version__)
print('Versão do numpy -> %s' % np.__version__)
print('Versão do matplotlib -> %s' % mpl.__version__)
print('Versão do seaborn -> %s' % sns.__version__)
print('Versão do scipy -> %s' % scipy.__version__)

Versão do pandas -> 1.0.1
Versão do numpy -> 1.18.1
Versão do matplotlib -> 3.1.3
Versão do seaborn -> 0.10.0
Versão do scipy -> 1.4.1

## Bibliografia

Para o desenvolvimento do projeto, estamos considerando as seguintes bibliografias:

- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S0104-11692004000700005&lng=es&tlng=es
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S1516-44462004000500005
- https://www.sbp.com.br/fileadmin/user_upload/publicacoes/N-ManOrient-Alcoolismo.pdf

De acordo com as fontes bibliográficas, a presença do álcool na vida dos adolescentes pode ser dividida em duas partes: fatores que motivam o seu uso e as consequências.

Dentre os fatores que influênciam essa entrada, está a relação familiar e a questão social. E dentro das consequências, o aspecto de maior visibilidade é o decaimento de rendimento e a evasão escolar.

## Informações sobre o dataset

>## Contexto
> Os dados foram obtidos num inquérito a alunos dos cursos de matemática e língua portuguesa do ensino secundário. Ele contém muitas informações sociais, de gênero e de estudo interessantes sobre os alunos. 
    
>## Descrição das variaveis
> ### School 
> ***

> Escola do aluno (binário: 'GP' - Gabriel Pereira ou 'MS' - Mousinho da Silveira)

|Código|Descrição|
|---|---|
|GP|Gabriel Pereira|
|MS|Mousinho da Silveira|

> ### Sex  
> ***

> Sexo do aluno (binário: 'F' - feminino ou 'M' - masculino)

|Código|Descrição|
|---|---|
|F|Feminino|
|M|Masculino|

> ### Age 
> ***

Idade do aluno (numérico: de 15 a 22)
 
 
> ### Address  
> ***

> Tipo de endereço residencial do aluno (binário: 'U' - urbano ou 'R' - rural)

|Código|Descrição|
|---|---|
|U|Urbano|
|R|Rural|


> ### Famsize  
> ***

> Tamanho da família (binário: 'LE3' - menor ou igual a 3 ou 'GT3' - maior que 3)

|Código|Descrição|
|---|---|
|LE3|Menor ou igual a 3|
|GT3|Maior que 3|

> ### Pstatus  
> ***

> Status de coabitação dos pais (binário: 'T' - morando juntos ou 'A' - separados)

|Código|Descrição|
|---|---|
|T|Morando juntos|
|A|Separados|

> ### Medu  
> ***

> Escolaridade da mãe (numérico: 0 - nenhuma, 1 - ensino fundamental (4ª série), 2 - 5ª a 9ª série, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Fedu  
> ***

> Escolaridade do pai (numérico: 0 - nenhuma, 1 - ensino fundamental (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Mjob  
> ***

> Trabalho da mãe (nominal: 'professora', 'cuidados de saúde' relacionados, 'serviços' civis (por exemplo, administrativo ou policial), 'em_home' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Fjob  
> ***

> Trabalho do pai (nominal: 'professor', 'saúde' relacionado, 'serviços' civis (por exemplo, administrativo ou policial), 'em_ casa' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Reason  
> ***

> Razão para escolher esta escola (nominal: perto de 'casa', escola 'reputação', 'curso' preferência ou 'outra')

|Código|Descrição|
|---|---|
|Close to 'home'|perto de 'casa'|
|School 'reputation'|Reputação da escola|
|course preference|Preferencia de curso|
|Other|Outro|

> ### Guardian  
> ***

> Tutor do aluno (nominal: 'mãe', 'pai' ou 'outro')

|Código|Descrição|
|---|---|
|Mother|Mãe|
|Father|Pai|
|cOther|Outro|

> ### Traveltime   
> ***

> Tempo de viagem de casa para a escola (numérico: 1 - 1 hora)

> ### Studytime  
> ***

> Tempo de estudo semanal (numérico: 1 - 10 horas)

> ### Failures  
> ***

> Número de falhas de classe anteriores (numérico: n se 1 <= n <3 , senão 4)

> ### Schoolsup 
> ***

> Suporte educacional extra (binário: sim ou não)

> ### Famsup  
> ***

> Apoio educacional à família (binário: sim ou não)

> ### Paid  
> ***

> Aulas extras pagas dentro da disciplina (matemática ou português) (binário: sim ou não)

> ### Activities  
> ***

> Atividades extracurriculares (binárias: sim ou não)

> ### Nursery  
> ***

> Frequentou creche (binário: sim ou não)

> ### Higher  
> ***

> Deseja cursar o ensino superior (binário: sim ou não)

> ### Internet  
> ***

> Acesso à internet em casa (binário: sim ou não)

> ### Romantic  
> ***

> Com um relacionamento romântico (binário: sim ou não)

> ### Famrel  
> ***

> Qualidade das relações familiares (numérico: de 1 - muito ruim a 5 - excelente)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Boa|
|5|Muito Boa|

> ### Freetime  
> ***

> Tempo livre depois da escola (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Goout  
> ***

> Sair com amigos (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Dalc  
> ***

> Consumo de álcool durante o trabalho (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Walc  
> ***

> Consumo de álcool no fim de semana (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Health  
> ***

> Estado de saúde atual (numérico: de 1 - muito ruim a 5 - muito bom)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Bom|
|5|Muito Bom|

> ### Absences  
> ***

> Número de faltas escolares (numérico: de 0 a 93)

> ### G1  
> ***

> Nota do primeiro período (numérico: de 0 a 20)

> ### G2  
> ***

> Nota do segundo período (numérico: de 0 a 20)

> ### G3 
> ***

> Nota final (numérico: de 0 a 20, meta de saída)

## Abrindo as bases de dados

In [2]:
# Abrindo a base de dados dos alunos de matematica
df_mat = pd.read_csv('../data/student-mat.csv')
# Abrindo a base de dados dos alunos de portugues
df_por = pd.read_csv('../data/student-por.csv')

In [3]:
# Visualizando os dados da base de dados de matematica
df_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# Visualizando os dados da base de dados de portugues
df_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
# Vamos ver o tamanho das bases de dados

dfs = [df_mat, df_por]
Nomes = ['Matematica', 'Português']

def tamanho(df):
    linha, coluna = df.shape
    return linha, coluna

linhas_mat, colunas_mat = tamanho(dfs[0])
linhas_por, colunas_por = tamanho(dfs[1])

print(f'O tamanho do DataFrame de {Nomes[0]} tem {linhas_mat} linhas e {colunas_mat} colunas')
print(f'O tamanho do DataFrame de {Nomes[1]} tem {linhas_por} linhas e {colunas_por} colunas')

O tamanho do DataFrame de Matematica tem 395 linhas e 33 colunas
O tamanho do DataFrame de Português tem 649 linhas e 33 colunas

In [6]:
# Agora vamos obter as primeiras informações sobre nossos dataframes
def info(df):
    info = df.info()
    return info

for i in range(2):
    print(f'Informações do DataFrame de {Nomes[i]} \n')
    print(info(dfs[i]), '\n')

Informações do DataFrame de Matematica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

Informações do DataFrame de Português

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

## Explorando a base de dados

> ### Como os textos academicos apontam para as relações familiares e sociais iremos manter apenas as seguintes variaveis

|Código|Descrição|
|---|---|
|School|Escola|
|Sex|Sexo|
|Age|Idade|
|Famsize|Tamanho da família|
|Pstatus|Status de coabitação dos pais|
|Medu/Fedu|Escolaridade da mãe/pai|
|Mjob/Fjob|Trabalho da mãe|
|Guardian|Tutor do aluno |
|Famsup|Apoio educacional à família|
|Famreal|Qualidade das relações familiares|
|Internet|Acesso à internet em casa|
|Romantic|Com um relacionamento romântico|
|Goout|Sair com amigos|
|Dalc|Consumo de álcool durante o trabalho|
|Walc|Consumo de álcool no fim de semana|

In [7]:
colunas_selecionadas = ['school', 'sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'famsup',
                        'famrel', 'internet', 'romantic', 'goout', 'Dalc', 'Walc']

analise_df_mat = df_mat.loc[:, colunas_selecionadas]
analise_df_por = df_por.loc[:, colunas_selecionadas]

In [8]:
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,4,1,1
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,3,1,1
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,2,2,3
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,2,1,1
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,2,1,2

In [9]:
analise_df_por.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,4,1,1
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,3,1,1
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,2,2,3
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,2,1,1
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,2,1,2

### Para melhor entendimento do DataFrame, iremos subistituir os valores numericos das faixas qualitativas pelos seus resctivos rotulos

In [10]:
# Exemplo com a coluna SATISFACAO
from pandas.api.types import CategoricalDtype

frequencia = ['muito baixo', 'baixo', 'normal', 'alto', 'muito alto']
colunas_troca_rotulo = ['goout', 'Dalc', 'Walc']

def troca_rotulo (linha):
    if linha == 1:
        return frequencia[0]
    elif linha == 2:
        return frequencia[1]
    elif linha == 3:
        return frequencia[2]
    elif linha == 4:
        return frequencia[3]
    elif linha == 5:
        return frequencia[4]

frequencia_type = CategoricalDtype(
    categories=['muito baixo', 'baixo', 'normal', 'alto', 'muito alto'], 
    ordered=True
)

for coluna in colunas_troca_rotulo:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(troca_rotulo).astype(frequencia_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(troca_rotulo).astype(frequencia_type)

analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,baixo,muito baixo,baixo

In [11]:
educacao = ['nenhum', 'ensino fundamental', '5ª a 9ª série', 'ensino médio', 'ensino superior']
colunas_troca_estudo = ['Medu', 'Fedu']

def nomeia_estudo(linha):
    if linha == 0:
        return educacao[0]
    elif linha == 1:
        return educacao[1]
    elif linha == 2:
        return educacao[2]
    elif linha == 3:
        return educacao[3]
    elif linha == 4:
        return educacao[4]

education_type = CategoricalDtype(
    categories=['Nenhum', 'ensino fundamental', '5ª a 9ª série', 'ensino médio', 'ensino superior'], 
    ordered=True
)

for coluna in colunas_troca_estudo:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(nomeia_estudo).astype(education_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(nomeia_estudo).astype(education_type)
    
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,4,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,5,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,4,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,3,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,4,no,no,baixo,muito baixo,baixo

In [12]:
relacao = ['muito ruim', 'ruim', 'normal', 'boa', 'muito boa']
colunas_troca_relacao = ['famrel']

def nomeia_relacao(linha):
    if linha == 1:
        return relacao[0]
    elif linha == 2:
        return relacao[1]
    elif linha == 3:
        return relacao[2]
    elif linha == 4:
        return relacao[3]
    elif linha == 5:
        return relacao[4]

relation_type = CategoricalDtype(
    categories=['muito ruim', 'ruim', 'normal', 'boa', 'muito boa'], 
    ordered=True
)

for coluna in colunas_troca_relacao:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(nomeia_relacao).astype(relation_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(nomeia_relacao).astype(relation_type)
    
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,boa,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,muito boa,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,boa,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,normal,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,boa,no,no,baixo,muito baixo,baixo

In [13]:
# Checando os tipos de variaveis atuais
analise_df_mat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    395 non-null    object
 1   sex       395 non-null    object
 2   age       395 non-null    int64
 3   famsize   395 non-null    object
 4   Pstatus   395 non-null    object
 5   Medu      392 non-null    category
 6   Fedu      393 non-null    category
 7   Mjob      395 non-null    object
 8   Fjob      395 non-null    object
 9   guardian  395 non-null    object
 10  famsup    395 non-null    object
 11  famrel    395 non-null    category
 12  internet  395 non-null    object
 13  romantic  395 non-null    object
 14  goout     395 non-null    category
 15  Dalc      395 non-null    category
 16  Walc      395 non-null    category
dtypes: category(6), int64(1), object(10)
memory usage: 37.6+ KB

### Agora teremos todas as colunas identificadas com suas propriedades corretas

In [14]:
colunas_qualitativas = ['school', 'sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'famsup', 'internet', 'romantic']
for coluna in colunas_qualitativas:
    analise_df_mat[coluna] = analise_df_mat[coluna].astype('category')
    analise_df_por[coluna] = analise_df_por[coluna].astype('category')

## Como as materias não estão sendo focadas nesta analise iremos unir os dois DataFrames

In [15]:
analise_df_completo = pd.concat([analise_df_mat, analise_df_por])
analise_df_completo.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,boa,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,muito boa,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,boa,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,normal,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,boa,no,no,baixo,muito baixo,baixo

In [16]:
analise_df_completo.shape

(1044, 17)

## Verificando as relações entre as variaveis do dataset de Matemática

In [17]:
analise_df_completo.Walc.value_counts(normalize=True)*100

muito baixo    38.122605
baixo          22.509579
normal         19.157088
alto           13.218391
muito alto      6.992337
Name: Walc, dtype: float64

In [18]:
analise_df_completo.Dalc.value_counts(normalize=True)*100

muito baixo    69.636015
baixo          18.773946
normal          6.609195
muito alto      2.490421
alto            2.490421
Name: Dalc, dtype: float64

In [19]:
rotulos = ['school', 'sex', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'famsup',
                        'famrel', 'internet', 'romantic', 'goout']

def tabela_cruzada(df, index):
    return pd.crosstab(df['Walc'], df[rotulos[index]], normalize=True, margins=True)*100

In [20]:
tabela_cruzada(analise_df_completo, 0)

school              GP         MS         All
Walc
muito baixo  29.597701   8.524904   38.122605
baixo        15.708812   6.800766   22.509579
normal       13.505747   5.651341   19.157088
alto          9.770115   3.448276   13.218391
muito alto    5.363985   1.628352    6.992337
All          73.946360  26.053640  100.000000

In [21]:
tabela_cruzada(analise_df_completo, 1)

sex                  F          M         All
Walc
muito baixo  25.862069  12.260536   38.122605
baixo        14.367816   8.141762   22.509579
normal       11.111111   8.045977   19.157088
alto          4.214559   9.003831   13.218391
muito alto    1.053640   5.938697    6.992337
All          56.609195  43.390805  100.000000

In [22]:
tabela_cruzada(analise_df_completo, 2)

famsize            GT3        LE3         All
Walc
muito baixo  28.639847   9.482759   38.122605
baixo        15.900383   6.609195   22.509579
normal       13.122605   6.034483   19.157088
alto          8.716475   4.501916   13.218391
muito alto    4.310345   2.681992    6.992337
All          70.689655  29.310345  100.000000

In [23]:
tabela_cruzada(analise_df_completo, 3)

Pstatus              A          T         All
Walc
muito baixo   5.651341  32.471264   38.122605
baixo         2.203065  20.306513   22.509579
normal        1.149425  18.007663   19.157088
alto          1.915709  11.302682   13.218391
muito alto    0.670498   6.321839    6.992337
All          11.590038  88.409962  100.000000

In [24]:
tabela_cruzada(analise_df_completo, 4)

Medu,ensino fundamental,5ª a 9ª série,ensino médio,ensino superior,All
Walc,,,,,
muito baixo,6.280193,11.884058,8.212560,11.787440,38.164251
baixo,4.444444,7.246377,4.057971,6.859903,22.608696
normal,4.251208,4.541063,5.217391,5.120773,19.130435
alto,2.801932,2.222222,4.251208,3.864734,13.140097
muito alto,1.739130,2.028986,1.256039,1.932367,6.956522
All,19.516908,27.922705,22.995169,29.565217,100.000000

In [25]:
tabela_cruzada(analise_df_completo, 5)

Fedu,ensino fundamental,5ª a 9ª série,ensino médio,ensino superior,All
Walc,,,,,
muito baixo,8.405797,12.560386,8.502415,8.115942,37.584541
baixo,6.473430,6.956522,3.768116,5.507246,22.705314
normal,5.120773,5.700483,5.314010,3.188406,19.323671
alto,2.608696,4.057971,3.671498,2.995169,13.333333
muito alto,2.125604,2.028986,1.062802,1.835749,7.053140
All,24.734300,31.304348,22.318841,21.642512,100.000000

In [26]:
tabela_cruzada(analise_df_completo, 6)

Mjob           at_home    health      other   services    teacher         All
Walc
muito baixo   7.471264  2.586207  15.134100   8.333333   4.597701   38.122605
baixo         3.927203  1.532567   9.195402   4.789272   3.065134   22.509579
normal        3.352490  2.107280   6.992337   4.885057   1.819923   19.157088
alto          2.107280  1.340996   4.597701   3.160920   2.011494   13.218391
muito alto    1.724138  0.287356   2.298851   1.724138   0.957854    6.992337
All          18.582375  7.854406  38.218391  22.892720  12.452107  100.000000

In [27]:
tabela_cruzada(analise_df_completo, 7)

Fjob          at_home    health      other   services   teacher         All
Walc
muito baixo  2.873563  2.107280  21.264368   8.716475  3.160920   38.122605
baixo        1.724138  0.862069  11.590038   6.513410  1.819923   22.509579
normal       0.670498  0.000000  11.877395   5.938697  0.670498   19.157088
alto         0.574713  0.574713   7.854406   4.022989  0.191571   13.218391
muito alto   0.095785  0.383142   3.352490   2.777778  0.383142    6.992337
All          5.938697  3.927203  55.938697  27.969349  6.226054  100.000000

In [28]:
tabela_cruzada(analise_df_completo, 8)

guardian        father     mother     other         All
Walc
muito baixo   8.429119  26.819923  2.873563   38.122605
baixo         5.651341  15.613027  1.245211   22.509579
normal        4.310345  13.026820  1.819923   19.157088
alto          3.160920   9.291188  0.766284   13.218391
muito alto    1.724138   4.980843  0.287356    6.992337
All          23.275862  69.731801  6.992337  100.000000

In [29]:
tabela_cruzada(analise_df_completo, 9)

famsup              no        yes         All
Walc
muito baixo  13.888889  24.233716   38.122605
baixo         8.141762  14.367816   22.509579
normal        6.896552  12.260536   19.157088
alto          6.704981   6.513410   13.218391
muito alto    3.065134   3.927203    6.992337
All          38.697318  61.302682  100.000000

In [30]:
tabela_cruzada(analise_df_completo, 10)

famrel       muito ruim      ruim     normal        boa  muito boa         All
Walc
muito baixo    0.862069  1.436782   4.789272  18.869732  12.164751   38.122605
baixo          0.957854  0.766284   3.927203  10.919540   5.938697   22.509579
normal         0.478927  0.766284   3.352490  10.153257   4.406130   19.157088
alto           0.000000  1.053640   2.969349   6.130268   3.065134   13.218391
muito alto     0.574713  0.478927   1.149425   2.969349   1.819923    6.992337
All            2.873563  4.501916  16.187739  49.042146  27.394636  100.000000

In [31]:
tabela_cruzada(analise_df_completo, 11)

internet            no        yes         All
Walc
muito baixo   9.099617  29.022989   38.122605
baixo         4.406130  18.103448   22.509579
normal        3.448276  15.708812   19.157088
alto          2.203065  11.015326   13.218391
muito alto    1.628352   5.363985    6.992337
All          20.785441  79.214559  100.000000

In [32]:
tabela_cruzada(analise_df_completo, 12)

romantic            no        yes         All
Walc
muito baixo  24.233716  13.888889   38.122605
baixo        14.463602   8.045977   22.509579
normal       12.164751   6.992337   19.157088
alto          9.386973   3.831418   13.218391
muito alto    4.214559   2.777778    6.992337
All          64.463602  35.536398  100.000000