# Projeto 2 - Ciencia de dados

## Introdução

* A empresa InsperAnalytics contratou dois engenheiros do Insper para prestar um serviço de exploração, análise e previsão de uma variável em uma base de dados referente ao consumo de alcool dos estudantes com base nas suas informações pessoais, informações academicas e as materias estudadas no colegio.

* O objetivo dos engenheiros é fazer uma analise exploratoria completa na base de dados e conseguir informações suficientes para poder gerar uma hipotese sobre a relação da variavel escolhida com as demais e com isso prever possiveis resultados com a hipotese gerada.

* A base de dados que foi dadas ao engenheiro contem variaveis quantitativas e qualititativas, ou seja variaveis numericas e variaveis de categorias/ rotulos. 

* Todo o trabalho usará o conhecimento que os engenheiros adquiriram na materia de Ciencia de Dados, e usará a linguagem de programação python como ferramenta para esse serviço.

* O metodo de previsão será a partir de classificadores, por conta da maioria das variaveis serem qualitativas.

## Informações sobre os engenheiros:

* **Engenheiro 1:** Fabricio Neri Lima
    * **Curso:** Engenharia da computação
    
* **Engenheiro 2:** Wilgner Lopes Araujo
    * **Curso:** Engenharia Mecatrônica

## Informações tecnicas:

* No github onde será postado o trabalho existem duas pastas:
    * **data:** Local onde será encontrado a base de dados em arquivos csv
    * **src:** Local onde será encontrado os arquivos jupyters com todo o trabalho desenvolvido
    
* A base de dados pode ser encontrada acessando o seguinte link:
    * https://www.kaggle.com/uciml/student-alcohol-consumption?select=student-por.csv
    
* Caso queira acompanhar o trabalho desenvolvido é necessario ter as seguintes bibliotecas python instaladas:
    * Pandas
    * Numpy
    * Matplotlib
    * Seaborn
    * Scipy.stats
    * Scikit-learn

* A Celula abaixo importará as bibliotecas citadas e mostrará a versão instalada em sua maquina, basta roda-la:

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats

# A biblioteca Scikit-learning será chamada no momento que for necessaria sua utilização

print('Versão do pandas -> %s' % pd.__version__)
print('Versão do numpy -> %s' % np.__version__)
print('Versão do matplotlib -> %s' % mpl.__version__)
print('Versão do seaborn -> %s' % sns.__version__)
print('Versão do scipy -> %s' % scipy.__version__)

Versão do pandas -> 1.0.1
Versão do numpy -> 1.18.1
Versão do matplotlib -> 3.1.3
Versão do seaborn -> 0.10.0
Versão do scipy -> 1.4.1

## Bibliografia

Para o desenvolvimento do projeto, estamos considerando as seguintes bibliografias:

- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S0104-11692004000700005&lng=es&tlng=es
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S1516-44462004000500005
- https://www.sbp.com.br/fileadmin/user_upload/publicacoes/N-ManOrient-Alcoolismo.pdf

De acordo com as fontes bibliográficas, a presença do álcool na vida dos adolescentes pode ser dividida em duas partes: fatores que motivam o seu uso e as consequências.

Dentre os fatores que influênciam essa entrada, está a relação familiar e a questão social. E dentro das consequências, o aspecto de maior visibilidade é o decaimento de rendimento e a evasão escolar.

## Informações sobre o dataset

>## Contexto
> Os dados foram obtidos num inquérito a alunos dos cursos de matemática e língua portuguesa do ensino secundário. Ele contém muitas informações sociais, de gênero e de estudo interessantes sobre os alunos. 
    
>## Descrição das variaveis
> ### School 
> ***

> Escola do aluno (binário: 'GP' - Gabriel Pereira ou 'MS' - Mousinho da Silveira)

|Código|Descrição|
|---|---|
|GP|Gabriel Pereira|
|MS|Mousinho da Silveira|

> ### Sex  
> ***

> Sexo do aluno (binário: 'F' - feminino ou 'M' - masculino)

|Código|Descrição|
|---|---|
|F|Feminino|
|M|Masculino|

> ### Age 
> ***

Idade do aluno (numérico: de 15 a 22)
 
 
> ### Address  
> ***

> Tipo de endereço residencial do aluno (binário: 'U' - urbano ou 'R' - rural)

|Código|Descrição|
|---|---|
|U|Urbano|
|R|Rural|


> ### Famsize  
> ***

> Tamanho da família (binário: 'LE3' - menor ou igual a 3 ou 'GT3' - maior que 3)

|Código|Descrição|
|---|---|
|LE3|Menor ou igual a 3|
|GT3|Maior que 3|

> ### Pstatus  
> ***

> Status de coabitação dos pais (binário: 'T' - morando juntos ou 'A' - separados)

|Código|Descrição|
|---|---|
|T|Morando juntos|
|A|Separados|

> ### Medu  
> ***

> Escolaridade da mãe (numérico: 0 - nenhuma, 1 - ensino fundamental (4ª série), 2 - 5ª a 9ª série, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Fedu  
> ***

> Escolaridade do pai (numérico: 0 - nenhuma, 1 - ensino fundamental (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Mjob  
> ***

> Trabalho da mãe (nominal: 'professora', 'cuidados de saúde' relacionados, 'serviços' civis (por exemplo, administrativo ou policial), 'em_home' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Fjob  
> ***

> Trabalho do pai (nominal: 'professor', 'saúde' relacionado, 'serviços' civis (por exemplo, administrativo ou policial), 'em_ casa' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Reason  
> ***

> Razão para escolher esta escola (nominal: perto de 'casa', escola 'reputação', 'curso' preferência ou 'outra')

|Código|Descrição|
|---|---|
|Close to 'home'|perto de 'casa'|
|School 'reputation'|Reputação da escola|
|course preference|Preferencia de curso|
|Other|Outro|

> ### Guardian  
> ***

> Tutor do aluno (nominal: 'mãe', 'pai' ou 'outro')

|Código|Descrição|
|---|---|
|Mother|Mãe|
|Father|Pai|
|cOther|Outro|

> ### Traveltime   
> ***

> Tempo de viagem de casa para a escola (numérico: 1 - 1 hora)

> ### Studytime  
> ***

> Tempo de estudo semanal (numérico: 1 - 10 horas)

> ### Failures  
> ***

> Número de falhas de classe anteriores (numérico: n se 1 <= n <3 , senão 4)

> ### Schoolsup 
> ***

> Suporte educacional extra (binário: sim ou não)

> ### Famsup  
> ***

> Apoio educacional à família (binário: sim ou não)

> ### Paid  
> ***

> Aulas extras pagas dentro da disciplina (matemática ou português) (binário: sim ou não)

> ### Activities  
> ***

> Atividades extracurriculares (binárias: sim ou não)

> ### Nursery  
> ***

> Frequentou creche (binário: sim ou não)

> ### Higher  
> ***

> Deseja cursar o ensino superior (binário: sim ou não)

> ### Internet  
> ***

> Acesso à internet em casa (binário: sim ou não)

> ### Romantic  
> ***

> Com um relacionamento romântico (binário: sim ou não)

> ### Famrel  
> ***

> Qualidade das relações familiares (numérico: de 1 - muito ruim a 5 - excelente)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Boa|
|5|Muito Boa|

> ### Freetime  
> ***

> Tempo livre depois da escola (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Goout  
> ***

> Sair com amigos (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Dalc  
> ***

> Consumo de álcool durante o trabalho (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Walc  
> ***

> Consumo de álcool no fim de semana (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Health  
> ***

> Estado de saúde atual (numérico: de 1 - muito ruim a 5 - muito bom)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Bom|
|5|Muito Bom|

> ### Absences  
> ***

> Número de faltas escolares (numérico: de 0 a 93)

> ### G1  
> ***

> Nota do primeiro período (numérico: de 0 a 20)

> ### G2  
> ***

> Nota do segundo período (numérico: de 0 a 20)

> ### G3 
> ***

> Nota final (numérico: de 0 a 20, meta de saída)

## Abrindo as bases de dados

In [2]:
# Abrindo a base de dados dos alunos de matematica
df_mat = pd.read_csv('../data/student-mat.csv')
# Abrindo a base de dados dos alunos de portugues
df_por = pd.read_csv('../data/student-por.csv')

In [3]:
# Visualizando os dados da base de dados de matematica
df_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# Visualizando os dados da base de dados de portugues
df_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
# Vamos ver o tamanho das bases de dados

dfs = [df_mat, df_por]
Nomes = ['Matematica', 'Português']

def tamanho(df):
    linha, coluna = df.shape
    return linha, coluna

linhas_mat, colunas_mat = tamanho(dfs[0])
linhas_por, colunas_por = tamanho(dfs[1])

print(f'O tamanho do DataFrame de {Nomes[0]} tem {linhas_mat} linhas e {colunas_mat} colunas')
print(f'O tamanho do DataFrame de {Nomes[1]} tem {linhas_por} linhas e {colunas_por} colunas')

O tamanho do DataFrame de Matematica tem 395 linhas e 33 colunas
O tamanho do DataFrame de Português tem 649 linhas e 33 colunas

In [6]:
# Agora vamos obter as primeiras informações sobre nossos dataframes
def info(df):
    info = df.info()
    return info

for i in range(2):
    print(f'Informações do DataFrame de {Nomes[i]} \n')
    print(info(dfs[i]), '\n')

Informações do DataFrame de Matematica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

Informações do DataFrame de Português

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

## Explorando a base de dados

####  Definindo colunas de interesse

Segundo as bibliografias que estamos utilizando, os fatores mais relacionados ao consumo de álcool durante a adolescência são as questões familiares, como a relação com os pais, a condição social, que pode estar relacionada ao emprego dos pais e também aspectos pessoais, como se está em um relacionamento ou não. Por isso, vamos reduzir o número de colunas para apenas as colunas relacionadas a esses aspectos.

|Código|Descrição|
|---|---|
|School|Escola|
|Sex|Sexo|
|Age|Idade|
|Famsize|Tamanho da família|
|Pstatus|Status de coabitação dos pais|
|Medu/Fedu|Escolaridade da mãe/pai|
|Mjob/Fjob|Trabalho da mãe|
|Guardian|Tutor do aluno |
|Famsup|Apoio educacional à família|
|Famreal|Qualidade das relações familiares|
|Internet|Acesso à internet em casa|
|Romantic|Com um relacionamento romântico|
|Goout|Sair com amigos|
|Dalc|Consumo de álcool durante o trabalho|
|Walc|Consumo de álcool no fim de semana|

In [33]:
colunas_selecionadas = ['school', 'sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'famsup',
                        'famrel', 'internet', 'romantic', 'goout', 'Dalc', 'Walc']

analise_df_mat = df_mat.loc[:, colunas_selecionadas]
analise_df_por = df_por.loc[:, colunas_selecionadas]

In [34]:
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,4,1,1
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,3,1,1
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,2,2,3
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,2,1,1
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,2,1,2

In [36]:
analise_df_por.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,4,1,1
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,3,1,1
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,2,2,3
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,2,1,1
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,2,1,2

#### Alterando as faixas pelos rótulos

De modo a melhorar a análise, vamos alterar as faixas que estão presentes nas colunas pelos seus respectivos rótulos. Para isso, estamos criando uma função.

In [37]:
# Exemplo com a coluna SATISFACAO
from pandas.api.types import CategoricalDtype

frequencia = ['muito baixo', 'baixo', 'normal', 'alto', 'muito alto']
colunas_troca_rotulo = ['goout', 'Dalc', 'Walc']

def troca_rotulo (linha):
    if linha == 1:
        return frequencia[0]
    elif linha == 2:
        return frequencia[1]
    elif linha == 3:
        return frequencia[2]
    elif linha == 4:
        return frequencia[3]
    elif linha == 5:
        return frequencia[4]

frequencia_type = CategoricalDtype(
    categories=['muito baixo', 'baixo', 'normal', 'alto', 'muito alto'], 
    ordered=True
)

for coluna in colunas_troca_rotulo:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(troca_rotulo).astype(frequencia_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(troca_rotulo).astype(frequencia_type)

analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,4,4,at_home,teacher,mother,no,4,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,1,1,at_home,other,father,yes,5,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,1,1,at_home,other,mother,no,4,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,4,2,health,services,mother,yes,3,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,3,3,other,other,father,yes,4,no,no,baixo,muito baixo,baixo

In [38]:
educacao = ['nenhum', 'ensino fundamental', '5ª a 9ª série', 'ensino médio', 'ensino superior']
colunas_troca_estudo = ['Medu', 'Fedu']

def nomeia_estudo(linha):
    if linha == 0:
        return educacao[0]
    elif linha == 1:
        return educacao[1]
    elif linha == 2:
        return educacao[2]
    elif linha == 3:
        return educacao[3]
    elif linha == 4:
        return educacao[4]

education_type = CategoricalDtype(
    categories=['Nenhum', 'ensino fundamental', '5ª a 9ª série', 'ensino médio', 'ensino superior'], 
    ordered=True
)

for coluna in colunas_troca_estudo:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(nomeia_estudo).astype(education_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(nomeia_estudo).astype(education_type)
    
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,4,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,5,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,4,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,3,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,4,no,no,baixo,muito baixo,baixo

In [39]:
relacao = ['muito ruim', 'ruim', 'normal', 'boa', 'muito boa']
colunas_troca_relacao = ['famrel']

def nomeia_relacao(linha):
    if linha == 1:
        return relacao[0]
    elif linha == 2:
        return relacao[1]
    elif linha == 3:
        return relacao[2]
    elif linha == 4:
        return relacao[3]
    elif linha == 5:
        return relacao[4]

relation_type = CategoricalDtype(
    categories=['muito ruim', 'ruim', 'normal', 'boa', 'muito boa'], 
    ordered=True
)

for coluna in colunas_troca_relacao:
    analise_df_mat[coluna] = analise_df_mat[coluna].apply(nomeia_relacao).astype(relation_type)
    analise_df_por[coluna] = analise_df_por[coluna].apply(nomeia_relacao).astype(relation_type)
    
analise_df_mat.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,boa,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,muito boa,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,boa,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,normal,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,boa,no,no,baixo,muito baixo,baixo

In [40]:
# Checando os tipos de variaveis atuais
analise_df_mat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    395 non-null    object
 1   sex       395 non-null    object
 2   age       395 non-null    int64
 3   famsize   395 non-null    object
 4   Pstatus   395 non-null    object
 5   Medu      392 non-null    category
 6   Fedu      393 non-null    category
 7   Mjob      395 non-null    object
 8   Fjob      395 non-null    object
 9   guardian  395 non-null    object
 10  famsup    395 non-null    object
 11  famrel    395 non-null    category
 12  internet  395 non-null    object
 13  romantic  395 non-null    object
 14  goout     395 non-null    category
 15  Dalc      395 non-null    category
 16  Walc      395 non-null    category
dtypes: category(6), int64(1), object(10)
memory usage: 37.6+ KB

### Agora teremos todas as colunas identificadas com suas propriedades corretas

In [42]:
colunas_qualitativas = ['school', 'sex', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'guardian', 'famsup', 'internet', 'romantic']
for coluna in colunas_qualitativas:
    analise_df_mat[coluna] = analise_df_mat[coluna].astype('category')
    analise_df_por[coluna] = analise_df_por[coluna].astype('category')

### Juntando os DataFrames

Como o nosso objetivo não é verificar individualmente os alunos da classe de matemática ou os alunos da classe de língua portuguesa, vamos juntar os dois dataframes.

In [43]:
analise_df_completo = pd.concat([analise_df_mat, analise_df_por])
analise_df_completo.head()

,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,famsup,famrel,internet,romantic,goout,Dalc,Walc
0,GP,F,18,GT3,A,ensino superior,ensino superior,at_home,teacher,mother,no,boa,no,no,alto,muito baixo,muito baixo
1,GP,F,17,GT3,T,ensino fundamental,ensino fundamental,at_home,other,father,yes,muito boa,yes,no,normal,muito baixo,muito baixo
2,GP,F,15,LE3,T,ensino fundamental,ensino fundamental,at_home,other,mother,no,boa,yes,no,baixo,baixo,normal
3,GP,F,15,GT3,T,ensino superior,5ª a 9ª série,health,services,mother,yes,normal,yes,yes,baixo,muito baixo,muito baixo
4,GP,F,16,GT3,T,ensino médio,ensino médio,other,other,father,yes,boa,no,no,baixo,muito baixo,baixo

In [44]:
analise_df_completo.shape

(1044, 17)

## Verificando as relações entre as variaveis do dataset

In [17]:
analise_df_completo.Walc.value_counts(normalize=True)*100

muito baixo    38.122605
baixo          22.509579
normal         19.157088
alto           13.218391
muito alto      6.992337
Name: Walc, dtype: float64

In [18]:
analise_df_completo.Dalc.value_counts(normalize=True)*100

muito baixo    69.636015
baixo          18.773946
normal          6.609195
muito alto      2.490421
alto            2.490421
Name: Dalc, dtype: float64

## Escolha de target

Como visto acima, a coluna WALC que representa o quanto de bebida os alunos consomem durante o fim de semana tem uma maior aderência de consumo que álcool que a coluna DALC, que representa o consumo de álcool por aluno durante os úteis da semana. Por isso, vamos ter como target a coluna **WALC**

In [92]:
rotulos = ['school', 'sex', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'famsup',
                        'famrel', 'internet', 'romantic', 'goout']

def tabela_cruzada(df, index):
    return pd.crosstab(df['Walc'], df[rotulos[index]], normalize = 'columns' , margins=True)*100

Pelo cruzamento entre a escola dos estudantes e o consumo de álcool durante os fins de semana, considerando um consumo relevante de álcool a partir de normal, a escola MS tem um consumo maior de álcool (aproximadamente 42%) que a escola GP (com aproximadamente 38%)

In [93]:
tabela_cruzada(analise_df_completo, 0)

school              GP         MS        All
Walc
muito baixo  40.025907  32.720588  38.122605
baixo        21.243523  26.102941  22.509579
normal       18.264249  21.691176  19.157088
alto         13.212435  13.235294  13.218391
muito alto    7.253886   6.250000   6.992337

Quando comparado o consumo de álcool entre os meninos e as meninas, ficou evidenciado que os meninos consomem mais álcool que as meninas durante o fim de semana.

In [106]:
tabela_cruzada(analise_df_completo, 1)

sex                  F          M        All
Walc
muito baixo  45.685279  28.256071  38.122605
baixo        25.380711  18.763797  22.509579
normal       19.627750  18.543046  19.157088
alto          7.445008  20.750552  13.218391
muito alto    1.861252  13.686534   6.992337

Através do cruzamento do consumo de álcool durante os fins de semana com o tamanho da família do estudante, foi possível perceber que a porcentagem de alunos com menos de 3 pessoas na família consomem mais álcool aos fins de semana que alunos de famílias maiores que 3 pessoas.

In [107]:
tabela_cruzada(analise_df_completo, 2)

famsize            GT3        LE3        All
Walc
muito baixo  40.514905  32.352941  38.122605
baixo        22.493225  22.549020  22.509579
normal       18.563686  20.588235  19.157088
alto         12.330623  15.359477  13.218391
muito alto    6.097561   9.150327   6.992337

Ao compararmos o estado dos pais dos alunos com o seu consumo de álcool nos fins de semana, ficou evidente que os alunos de pais não divorciados consome mais álcool que os alunos de pais divorciados.

In [96]:
tabela_cruzada(analise_df_completo, 3)

Pstatus              A          T        All
Walc
muito baixo  48.760331  36.728061  38.122605
baixo        19.008264  22.968581  22.509579
normal        9.917355  20.368364  19.157088
alto         16.528926  12.784399  13.218391
muito alto    5.785124   7.150596   6.992337

Pela análise do cruzamento entre o consumo de álcool aos fins de semana e o nível de escolaridade da mãe, não foi possível concluir algo, já que as probabilidades para cada uma das faixas são bem semelhantes.

In [97]:
tabela_cruzada(analise_df_completo, 4)

Medu,ensino fundamental,5ª a 9ª série,ensino médio,ensino superior,All
Walc,,,,,
muito baixo,32.178218,42.560554,35.714286,39.869281,38.164251
baixo,22.772277,25.951557,17.647059,23.202614,22.608696
normal,21.782178,16.262976,22.689076,17.320261,19.130435
alto,14.356436,7.958478,18.487395,13.071895,13.140097
muito alto,8.910891,7.266436,5.462185,6.535948,6.956522

Assim como no cruzamento do nível de escolaridade da mãe, o cruzamento do consumo de álcool com o nível de escolaridade do pai não demonstra uma grande mudança no consumo de álcool do filho.

In [98]:
tabela_cruzada(analise_df_completo, 5)

Fedu,ensino fundamental,5ª a 9ª série,ensino médio,ensino superior,All
Walc,,,,,
muito baixo,33.984375,40.123457,38.095238,37.500000,37.584541
baixo,26.171875,22.222222,16.883117,25.446429,22.705314
normal,20.703125,18.209877,23.809524,14.732143,19.323671
alto,10.546875,12.962963,16.450216,13.839286,13.333333
muito alto,8.593750,6.481481,4.761905,8.482143,7.053140

Também como percebido no nível de escolaridade da mãe, o consumo de álcool dos filhos durante os fins de semana naõ é significativamente alterado pela profissão da mãe.

In [99]:
tabela_cruzada(analise_df_completo, 6)

Mjob           at_home     health      other   services    teacher        All
Walc
muito baixo  40.206186  32.926829  39.598997  36.401674  36.923077  38.122605
baixo        21.134021  19.512195  24.060150  20.920502  24.615385  22.509579
normal       18.041237  26.829268  18.295739  21.338912  14.615385  19.157088
alto         11.340206  17.073171  12.030075  13.807531  16.153846  13.218391
muito alto    9.278351   3.658537   6.015038   7.531381   7.692308   6.992337

In [100]:
tabela_cruzada(analise_df_completo, 7)

Fjob           at_home     health      other   services    teacher        All
Walc
muito baixo  48.387097  53.658537  38.013699  31.164384  50.769231  38.122605
baixo        29.032258  21.951220  20.719178  23.287671  29.230769  22.509579
normal       11.290323   0.000000  21.232877  21.232877  10.769231  19.157088
alto          9.677419  14.634146  14.041096  14.383562   3.076923  13.218391
muito alto    1.612903   9.756098   5.993151   9.931507   6.153846   6.992337

Ao cruzarmos os dados de consumo de álcool ao sábado e domingo, é possível perceber que o consumo de álcool de maneira regular é bem maior quando o responsável pelo aluno não é ou o pai ou a mãe.

In [101]:
tabela_cruzada(analise_df_completo, 8)

guardian        father     mother      other        All
Walc
muito baixo  36.213992  38.461538  41.095890  38.122605
baixo        24.279835  22.390110  17.808219  22.509579
normal       18.518519  18.681319  26.027397  19.157088
alto         13.580247  13.324176  10.958904  13.218391
muito alto    7.407407   7.142857   4.109589   6.992337

A tabela cruzada entre suporte familiar e o consumo de álcool no fim de semana permite indentificar que os alunos que tem suporte familiar tem bem menos probabilidade de consumir álcool em altas quantidades.

In [108]:
tabela_cruzada(analise_df_completo, 9)

famsup              no       yes        All
Walc
muito baixo  35.891089  39.53125  38.122605
baixo        21.039604  23.43750  22.509579
normal       17.821782  20.00000  19.157088
alto         17.326733  10.62500  13.218391
muito alto    7.920792   6.40625   6.992337

No cruzamento da relação familiar com o consumo de álcool, fica evidente que quanto pior a relação familiar entre o aluno e a sua família, maior a probabilidade dele ter um consumo muito alto de álcool.

In [103]:
tabela_cruzada(analise_df_completo, 10)

famrel       muito ruim       ruim     normal        boa  muito boa        All
Walc
muito baixo   30.000000  31.914894  29.585799  38.476562  44.405594  38.122605
baixo         33.333333  17.021277  24.260355  22.265625  21.678322  22.509579
normal        16.666667  17.021277  20.710059  20.703125  16.083916  19.157088
alto           0.000000  23.404255  18.343195  12.500000  11.188811  13.218391
muito alto    20.000000  10.638298   7.100592   6.054688   6.643357   6.992337

O cruzamento entre o acesso à internet do aluno e o consumo de álcool não evidenciou nenhuma diferença significativa no consumo de álcool aos fins de semana.

In [104]:
tabela_cruzada(analise_df_completo, 11)

internet            no        yes        All
Walc
muito baixo  43.778802  36.638452  38.122605
baixo        21.198157  22.853688  22.509579
normal       16.589862  19.830713  19.157088
alto         10.599078  13.905683  13.218391
muito alto    7.834101   6.771463   6.992337

O cruzamento entre o estudante estar ou não namorando também não relevou uma grande diferença no consumo de álcool aos fins de semana.

In [109]:
tabela_cruzada(analise_df_completo, 12)

romantic            no        yes        All
Walc
muito baixo  37.592868  39.083558  38.122605
baixo        22.436850  22.641509  22.509579
normal       18.870728  19.676550  19.157088
alto         14.561664  10.781671  13.218391
muito alto    6.537890   7.816712   6.992337

### Conclusões dos cruzamentos