# Projeto 2 - Ciencia de dados

## Introdução

* A empresa InsperAnalytics contratou dois engenheiros do Insper para prestar um serviço de exploração, análise e previsão de uma variável em uma base de dados referente ao consumo de alcool dos estudantes com base nas suas informações pessoais, informações academicas e as materias estudadas no colegio.

* O objetivo dos engenheiros é fazer uma analise exploratoria completa na base de dados e conseguir informações suficientes para poder gerar uma hipotese sobre a relação da variavel escolhida com as demais e com isso prever possiveis resultados com a hipotese gerada.

* A base de dados que foi dadas ao engenheiro contem variaveis quantitativas e qualititativas, ou seja variaveis numericas e variaveis de categorias/ rotulos. 

* Todo o trabalho usará o conhecimento que os engenheiros adquiriram na materia de Ciencia de Dados, e usará a linguagem de programação python como ferramenta para esse serviço.

* O metodo de previsão será a partir de classificadores, por conta da maioria das variaveis serem qualitativas.

## Informações sobre os engenheiros:

* **Engenheiro 1:** Fabricio Neri Lima
    * **Curso:** Engenharia da computação
    
* **Engenheiro 2:** Wilgner Lopes Araujo
    * **Curso:** Engenharia Mecatrônica

## Informações tecnicas:

* No github onde será postado o trabalho existem duas pastas:
    * **data:** Local onde será encontrado a base de dados em arquivos csv
    * **src:** Local onde será encontrado os arquivos jupyters com todo o trabalho desenvolvido
    
* A base de dados pode ser encontrada acessando o seguinte link:
    * https://www.kaggle.com/uciml/student-alcohol-consumption?select=student-por.csv
    
* Caso queira acompanhar o trabalho desenvolvido é necessario ter as seguintes bibliotecas python instaladas:
    * Pandas
    * Numpy
    * Matplotlib
    * Seaborn
    * Scipy.stats
    * Scikit-learn

* A Celula abaixo importará as bibliotecas citadas e mostrará a versão instalada em sua maquina, basta roda-la:

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy import stats

# A biblioteca Scikit-learning será chamada no momento que for necessaria sua utilização

print('Versão do pandas -> %s' % pd.__version__)
print('Versão do numpy -> %s' % np.__version__)
print('Versão do matplotlib -> %s' % mpl.__version__)
print('Versão do seaborn -> %s' % sns.__version__)
print('Versão do scipy -> %s' % scipy.__version__)

Versão do pandas -> 1.0.1
Versão do numpy -> 1.18.1
Versão do matplotlib -> 3.1.3
Versão do seaborn -> 0.10.0
Versão do scipy -> 1.4.1

## Bibliografia

Para o desenvolvimento do projeto, estamos considerando as seguintes bibliografias:

- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.sbp.com.br/especiais/pediatria-para-familias/adolescencia/adolescencia-e-alcool/
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S0104-11692004000700005&lng=es&tlng=es
- https://www.scielo.br/scielo.php?script=sci_arttext&pid=S1516-44462004000500005
- https://www.sbp.com.br/fileadmin/user_upload/publicacoes/N-ManOrient-Alcoolismo.pdf

De acordo com as fontes bibliográficas, a presença do álcool na vida dos adolescentes pode ser dividida em duas partes: fatores que motivam o seu uso e as consequências.

Dentre os fatores que influênciam essa entrada, está a relação familiar e a questão social. E dentro das consequências, o aspecto de maior visibilidade é o decaimento de rendimento e a evasão escolar.

## Informações sobre o dataset

>## Contexto
> Os dados foram obtidos num inquérito a alunos dos cursos de matemática e língua portuguesa do ensino secundário. Ele contém muitas informações sociais, de gênero e de estudo interessantes sobre os alunos. 
    
>## Descrição das variaveis
> ### School 
> ***

> Escola do aluno (binário: 'GP' - Gabriel Pereira ou 'MS' - Mousinho da Silveira)

|Código|Descrição|
|---|---|
|GP|Gabriel Pereira|
|MS|Mousinho da Silveira|

> ### Sex  
> ***

> Sexo do aluno (binário: 'F' - feminino ou 'M' - masculino)

|Código|Descrição|
|---|---|
|F|Feminino|
|M|Masculino|

> ### Age 
> ***

Idade do aluno (numérico: de 15 a 22)
 
 
> ### Address  
> ***

> Tipo de endereço residencial do aluno (binário: 'U' - urbano ou 'R' - rural)

|Código|Descrição|
|---|---|
|U|Urbano|
|R|Rural|


> ### Famsize  
> ***

> Tamanho da família (binário: 'LE3' - menor ou igual a 3 ou 'GT3' - maior que 3)

|Código|Descrição|
|---|---|
|LE3|Menor ou igual a 3|
|GT3|Maior que 3|

> ### Pstatus  
> ***

> Status de coabitação dos pais (binário: 'T' - morando juntos ou 'A' - separados)

|Código|Descrição|
|---|---|
|T|Morando juntos|
|A|Separados|

> ### Medu  
> ***

> Escolaridade da mãe (numérico: 0 - nenhuma, 1 - ensino fundamental (4ª série), 2 - 5ª a 9ª série, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Fedu  
> ***

> Escolaridade do pai (numérico: 0 - nenhuma, 1 - ensino fundamental (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - ensino superior)

|Código|Descrição|
|---|---|
|0|Nenhuma|
|1|Ensino fundamental (4ª série)|
|2|5ª a 9ª série|
|3|Ensino médio|
|4|Ensino superior|

> ### Mjob  
> ***

> Trabalho da mãe (nominal: 'professora', 'cuidados de saúde' relacionados, 'serviços' civis (por exemplo, administrativo ou policial), 'em_home' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Fjob  
> ***

> Trabalho do pai (nominal: 'professor', 'saúde' relacionado, 'serviços' civis (por exemplo, administrativo ou policial), 'em_ casa' ou 'outro')

|Código|Descrição|
|---|---|
|Teacher|Professora|
|'Health' care related|Cuidados de saúde|
|Civil 'services|'Serviços' civis|
|at_home'|'Em casa'|
|Other|Outro|

> ### Reason  
> ***

> Razão para escolher esta escola (nominal: perto de 'casa', escola 'reputação', 'curso' preferência ou 'outra')

|Código|Descrição|
|---|---|
|Close to 'home'|perto de 'casa'|
|School 'reputation'|Reputação da escola|
|course preference|Preferencia de curso|
|Other|Outro|

> ### Guardian  
> ***

> Tutor do aluno (nominal: 'mãe', 'pai' ou 'outro')

|Código|Descrição|
|---|---|
|Mother|Mãe|
|Father|Pai|
|cOther|Outro|

> ### Traveltime   
> ***

> Tempo de viagem de casa para a escola (numérico: 1 - 1 hora)

> ### Studytime  
> ***

> Tempo de estudo semanal (numérico: 1 - 10 horas)

> ### Failures  
> ***

> Número de falhas de classe anteriores (numérico: n se 1 <= n <3 , senão 4)

> ### Schoolsup 
> ***

> Suporte educacional extra (binário: sim ou não)

> ### Famsup  
> ***

> Apoio educacional à família (binário: sim ou não)

> ### Paid  
> ***

> Aulas extras pagas dentro da disciplina (matemática ou português) (binário: sim ou não)

> ### Activities  
> ***

> Atividades extracurriculares (binárias: sim ou não)

> ### Nursery  
> ***

> Frequentou creche (binário: sim ou não)

> ### Higher  
> ***

> Deseja cursar o ensino superior (binário: sim ou não)

> ### Internet  
> ***

> Acesso à internet em casa (binário: sim ou não)

> ### Romantic  
> ***

> Com um relacionamento romântico (binário: sim ou não)

> ### Famrel  
> ***

> Qualidade das relações familiares (numérico: de 1 - muito ruim a 5 - excelente)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Boa|
|5|Muito Boa|

> ### Freetime  
> ***

> Tempo livre depois da escola (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Goout  
> ***

> Sair com amigos (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|


> ### Dalc  
> ***

> Consumo de álcool durante o trabalho (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Walc  
> ***

> Consumo de álcool no fim de semana (numérico: de 1 - muito baixo a 5 - muito alto)

|Código|Descrição|
|---|---|
|1|Muito Baixo|
|2|Baixo|
|3|Normal|
|4|Alto|
|5|Muito Alto|

> ### Health  
> ***

> Estado de saúde atual (numérico: de 1 - muito ruim a 5 - muito bom)

|Código|Descrição|
|---|---|
|1|Muito Ruim|
|2|Ruim|
|3|Normal|
|4|Bom|
|5|Muito Bom|

> ### Absences  
> ***

> Número de faltas escolares (numérico: de 0 a 93)

> ### G1  
> ***

> Nota do primeiro período (numérico: de 0 a 20)

> ### G2  
> ***

> Nota do segundo período (numérico: de 0 a 20)

> ### G3 
> ***

> Nota final (numérico: de 0 a 20, meta de saída)

## Abrindo as bases de dados

In [4]:
# Abrindo a base de dados dos alunos de matematica
df_mat = pd.read_csv('../data/student-mat.csv')
# Abrindo a base de dados dos alunos de portugues
df_por = pd.read_csv('../data/student-por.csv')

In [5]:
# Visualizando os dados da base de dados de matematica
df_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
# Visualizando os dados da base de dados de portugues
df_por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [9]:
# Vamos ver o tamanho das bases de dados

dfs = [df_mat, df_por]
Nomes = ['Matematica', 'Português']

def tamanho(df):
    linha, coluna = df.shape
    return linha, coluna

linhas_mat, colunas_mat = tamanho(dfs[0])
linhas_por, colunas_por = tamanho(dfs[1])

print(f'O tamanho do DataFrame de {Nomes[0]} tem {linhas_mat} linhas e {colunas_mat} colunas')
print(f'O tamanho do DataFrame de {Nomes[1]} tem {linhas_por} linhas e {colunas_por} colunas')

O tamanho do DataFrame de Matematica tem 395 linhas e 33 colunas
O tamanho do DataFrame de Português tem 649 linhas e 33 colunas

In [10]:
# Agora vamos obter as primeiras informações sobre nossos dataframes
def info(df):
    info = df.info()
    return info

for i in range(2):
    print(f'Informações do DataFrame de {Nomes[i]} \n')
    print(info(dfs[i]), '\n')

Informações do DataFrame de Matematica

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

Informações do DataFrame de Português

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None