In [2]:
import pandas as pd
import numpy as np

# Abrindo a base de dados dos alunos de matematica
df_mat = pd.read_csv('../data/student-mat.csv')
# Abrindo a base de dados dos alunos de portugues
df_por = pd.read_csv('../data/student-por.csv')

In [4]:
df_completo = pd.concat([df_mat, df_por])

In [5]:
df_completo.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [19]:
colunas_selecionadas = ['school', 'sex', 'age', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'guardian', 'famsup',
                        'famrel', 'Dalc', 'Walc']
df_completo = df_completo.loc[:, colunas_selecionadas]

In [23]:
df_completo.

AttributeError: Can only use .cat accessor with a 'category' dtype